extends layout

block body
  a.banner(href="")
    img.full(src="/img/banner.jpg")
    div.message
      h2
        p Open Days 2013
        p Meet the OpenERP team and community 
        p Brussels, Belgium - 9, 10, 11 April 2013

  div.section
    div.header.clearfix
      h2 Next Events
      p
        a.italic(href="/events") More events »
    ul.gallery
      li
        img(src="/img/pcsol.jpg")
        h4 Presentation d'OpenERP v7
        div 15/01/2012
        div Oupeye, Belgium
      li
        img(src="/img/be.png")
        h4 OpenERP v7 Technical Training
        div 21/01/2012
        div Grand-Rosiere, Belgium
      li
        img(src="/img/es.png")
        h4 Avanzosc curso funcional OpenERP
        div 22/01/2012
        div Azkoitia, España
      li
        img(src="/img/official.png")
        h4 Presentation Officielle d'OpenERP v7
        div 31/01/2012
        div Brussels, Belgium
      li
        img(src="/img/it.jpg")
        h4 Formazione Funzionale su OpenERP V6.1
        div 11/02/2012
        div Torino, Italia

  div.section
    div.header.clearfix
      h2 Latest News
      p
        a.italic(href="") More News »
    p
      span.date 03/01/2013
      a(href="") 5 reasons to upgrade to OpenERP 7
    p
      span.date 24/12/2012
      a(href="") OpenERP with the launch of OpenERP 7.0 introduces the first portal of Integrated Business Applications
    p
      span.date 06/12/2012
      a(href="") Python and Javascript unit testing in OpenERP
    p
      span.date 04/12/2012
      a(href="") Will OpenERP succeed where SAP failed ?
    p
      span.date 12/12/2012
      a(href="") Sorry SAP Campaign - The Making Of

  div.section
    div.header.clearfix
      h2 Selected References
      p
        a.italic(href="") More References »
    ul.gallery
      li
        img(src="/img/mckinsey.jpeg")
        h4 McKinsey &amp; Company
      li
        img(src="/img/danone.jpeg")
        h4 Danone
      li
        img(src="/img/laposte.jpeg")
        h4 The French Post
      li
        img(src="/img/canonical.jpeg")
        h4 Canonical
      li
        img(src="/img/ena.jpeg")
        h4 Ecole Nationale d'Administration

