extends layout

block body
  div.pane
    h1 OpenERP is a pretty sweet place to work
    p OpenERP is a tech startup based in Belgium. We are revolutionizing the business apps market and we are looking for great people to join us.
    a(href="/team") Learn more »

  div.section
    div.header.clearfix
      h2 Belgium
    p
      a(href="") Developer
    p
      a(href="") Junior Account Manager
    p
      a(href="") International Sales Consultant
    p
      a(href="") Technical Consultant
    p
      a(href="") Functional Consultant
    p
      a(href="") Web Designer
    p
      a(href="") Usability Expert
    p
      a(href="") Traineeship

  div.section
    div.header.clearfix
      h2 United States
    p
      a(href="") Technical Consultant

  div.section
    div.header.clearfix
      h2 India
    p
      a(href="") Sale / Support Executive
    p
      a(href="") Application Engineer
    p
      a(href="") Community Manager

  div.banner
    img.quarter(src="/img/working.jpg")
    img.quarter(src="/img/rocket.jpg")
    img.quarter(src="/img/up.jpg")
    img.quarter(src="/img/sales.jpg")

