extends layout

block body
  div.container.clearfix
    div.row
      div.span3
        ul.nav.nav-list(data-spy="affix", data-offset-top="78")
          li.nav-header Belgium
          li
            a(href="#developer") Developer
          li
            a(href="#junior_account_manager") Junior Account Manager
          li
            a(href="") International Sales Consultant
          li
            a(href="") Technical Consultant
          li
            a(href="") Functional Consultant
          li
            a(href="") Web Designer
          li
            a(href="") Usability Expert
          li
            a(href="") Traineeship
          li.nav-header United States
          li
            a(href="") Technical Consultant
          li.nav-header India
          li
            a(href="") Sale / Support Executive
          li
            a(href="") Application Engineer
          li
            a(href="") Community Manager

      div.span9
        div.pane
          h2 OpenERP is a pretty sweet place to work
          p OpenERP is a tech startup based in Belgium. We are revolutionizing the business apps market and we are looking for great people to join us.
          a(href="/team") Learn more »

        div.cadre.row
          img.span3(src="/img/working.jpg")
          img.span3(src="/img/rocket.jpg")
          img.span3(src="/img/sales.jpg")

        section#developer 
          h2 Developer

          p The job is located in Grand-Rosière (1367), Belgium (between Louvain-La-Neuve and Namur).

          p You will be responsible for developing and improving the OpenERP framework and its core modules (Applications), such as the CRM, Project Management or Manufacturing applications. You will work autonomously as well as coordinate and supervise small distributed development teams for specific projects. You will become a technical expert of the OpenERP framework and its modules. You will report to the Head of R&amp;D and work closely with all developers and functional consultants. You will initially be coached by senior developers.

          h4 Your profile
          ul
            li Bachelor, master or engineer in computer science or equivalent by experience
            li Preferably at least 1 year of experience
            li Interest for enterprise application development

          h4 Requirements
          ul
            li Good knowledge of object oriented programming, object modeling, relational databases, Unix/Linux platform
            li Good knowledge of HTML and Javascript
            li Good knowledge of English, especially read and written

          h4 Nice-to-have
          ul
            li Good knowledge of Python
            li Good knowledge of the latest web technologies such as HTML5 and CSS3
            li Good language skills, other than English (Dutch and French preferred, others welcome)
            li Contributions to open source projects
            li Passion for the Internet and its culture
            li Quick and autonomous learner, problem-solving personality, enthusiastic when faced with technical challenges
            li Team spirit and good communication

          h4 What we offer
          ul
            li A complete technical and functional OpenERP training
            li A nice working atmosphere in a young and passionate team
            li A great experience in state-of-the-art web technologies and agile development
            li The opportunity to join a popular open source project
            li A full-time job with an attractive salary package
          h4 Interested ?
          p Send us your application (CV and cover letter) to jobs@openerp.com (attn: Cécile Debois)

        section#junior_account_manager
          h2 Junior Account Manager (Recruitment Reserve)

          p Job is based in Brussel (1160), Belgium.
          p OpenERP is looking for a motivated and results-driven Junior Account Manager!

          h4 Responsibility
          ul
            li Build a relationship of trust with our partners
            li Support the partners to grow their OpenERP activity
            li Develop, maintain and animate OpenERP partners network
            li Sell publisher's warranty contracts, trainings, off-shore resources, professional services and any products/services OpenERP is providing
            li Achieve your commercial targets

          h4 Requirements
          ul
            li You are passionate about sales!
            li You have a Bachelor or Master degree or equivalent by experience
            li You speak fluently English (any additional European language is a plus, specially Dutch or German)
            li You have at least 1 year of sales experience and no more than 5 years of professional experience, ideally with an indirect sales network (partners or distributors)
            li You are available immediately and you are registered as job seeker (Actiris or Forem)
            li You are an excellent communicator, you like to convince and to achieve revenue targets

          h4 Nice to have
          ul
            li You have an affinity with the IT world, you understand what an ERP is and what Open source is
            li You are ready to work in a young and dynamic company
            li You are able to work in “start up” fast paced environment, hands on attitude
            li You are approachable, honest and fun team player

          h4 What do we offer you?
          p We offer you a great work in an international atmosphere with a lot of opportunities to grow, to be autonomous and opportunities to take initiatives + some travel or events + an attractive package with gross salary, commissions, car, fuel-card, meal-vouchers and... some opportunities to have fun with your colleagues (ex: drink once a month).

          h4 Interested?
          p If you are interested and if you think you could meet the requirements, please send your resume and application letter (in which you explain why you think you are the best for the job) to Valérie Descamps (jobs@openerp.com).
          p Please note that we won't cover any expenses you may encounter (ex: relocation)

 

 

International Sales Consultant
﻿With a small team of smart people, who like working hard and have fun too, we released the most disruptive enterprise management software in the world. OpenERP is fully open source, full featured (Accounting, HR, CRM, Manufacturing, etc.) and it's online offer is 3 times cheaper than traditionnal competitors like SAP and Microsoft.

You think it's just marketing ? Just check by yourself and discover what people say about OpenERP on Twitter.

We can offer you an extraordinary chance to learn, to develop and to be part of a very exciting experience and team. 

 

OpenERP is looking for an International Sales Consultant!

 

You will be responsible:

•	To get in contact with potential customers who have shown interest in OpenERP (inbound calls, e-mails, demo) 

•	To understand how customers work today (How they interact with their customers, what is their billing process, what are the key logistics flows, etc) and how OpenERP will help them to be more efficient

•	To establish a tailored implementation package and negotiate its content with the customer 

•	To coordinate with the team of functional consultants who will deliver the implementation

•	To follow up with customers and build a long term relationship with them

You are in contact with a large diversity of customers in many regions covering many different industries. You will provide them a unique opportunity to learn and understand how OpenERP would be a competitive tool/advantage for them.

Job is based in Brussels (1160), Belgium.

 

You will need the following skills:

•	[Must have] Before anything else, you are a dynamic and motivated person willing to go the extra mile with a positive ‘can do’ attitude

•	[Must have] You have a Bachelor or Master degree or equivalent by experience

•	[Must have] You have at least 1 day of sales experience (even if it was “only” a student job) and no more than 3 years of professional experience, ideally in the IT world

•	[Must have] You speak fluently English and French (one other European language is a +)

•	[Must have] You are passionate about sales!

•	[Must have] You are an excellent communicator, you like to negotiate and to achieve targets

•	[Must have] You are available immediately and registered as job seeker (Actiris or Forem)

•	[Nice to have] You have a strong software and new technology awareness, are passionate about how business operate.

•	You are able to work in a “start up” fast paced environment, hands on attitude

•	You are approachable, honest and a fun team player

•	You are results-driven

 

What do we offer you ?

We offer you a great & international working environment with a lot of opportunities to grow + an attractive package with gross salary, commissions, car, fuel-card and meal-vouchers and... some opportunities to have fun with your colleagues!

If you are interested and if you think you could meet the requirements, please send your resume and application letter to Valérie Descamps (jobs@openerp.com)

Please note that we won't cover any expenses you may encounter (ex: relocation)

Technical Consultant (Recruitment Reserve)
About the company
With a small team of smart people, who like working hard and having fun too, we released a disruptive Enterprise Management Software suite. Since it's creation in 2005, OpenERP (formerly TinyERP) has aimed to be a fully Open Source, full featured (Accounting, HR, CRM, Manufacturing, etc.) alternative to traditional business application suites such as SAP and Microsoft.

Over the years our little team has grown to serve over 400 partners in more than 70 countries, while maintaining our commitment to the open source community and providing a friendly and stimulating work environment for our employees.

Because of our constant growth, we're now looking for people to reinforce our team of enthousiastic developers. So if working on an open source project in a friendly and cooperative atmosphere sounds like fun to you, read on...

Job description
You will take part in the consulting services we provide to our partners and customers : design, analysis, development, testing, project management, support/coaching. You will work autonomously as well as coordinate and supervise small distributed development teams for some projects. Optionally, you will deliver OpenERP training sessions to partners and customers (8-10 people/session). You will report to the Head of Professional Services and work closely with all developers and consultants.

The job is located in Grand-Rosière (1367), Belgium (between Louvain-La-Neuve and Namur).

Your profile
Bachelor, master or engineering degree in Computer Science or equivalent by experience
Preferably at least 1 years of experience
Interest for enterprise application development
Customer-minded
Willing to travel abroad occasionally for short term missions.
Passion for the Internet and its culture
Quick and autonomous learner, problem-solving personality, enthusiastic when faced with technical challenges
Team spirit and good communication
Required skills:
Good knowledge of object oriented programming, object modeling, relational databases, Unix/Linux platform
Fluent in English, especially read and written
Nice-to-have skills:
Good knowledge of Python
Good knowledge of HTML and Javascript
Knowledge of UML-like modeling
Good language skills, other than English (Dutch and French preferred, others welcome)
What we offer
A complete technical and functional OpenERP training
A nice working atmosphere in a young and passionate team
A great experience in state-of-the-art web technologies and agile development
The opportunity to join a popular open source project
A full-time job with an attractive salary package
Interested
Send us your application (CV and cover letter) to jobs@openerp.com (attn: Cécile Debois)

Web Designer
With a small team of smart people, who like working hard and have fun too, we released the most disruptive enterprise management software in the world: OpenERP is fully open source, full featured (Accounting, HR, CRM, Manufacturing, etc.) and its online offer is 3 times cheaper than traditional competitors like SAP and Microsoft.

You think it's just marketing ? Just check by yourself and discover what people say about OpenERP on Twitter.

We can offer you an extraordinary chance to learn, to develop and to be part of a very exciting experience and team.

OpenERP is looking for a Web Designer & Usability Expert !

Your challenge will be

to design clean and intuitive user interfaces
to improve users experience
to revolutionize our ERP and, if you are able to do it, transform the ERP market, which is totally a “gas works” market, into a toy market
to inspire project teams by providing a clear vision for the user experience, supported by data analysis, audience research, market research, prototyping and design exploration
You will report to the R&D Manager and work closely with all developers. Job is based in Grand-Rosière (1367), Belgium.

You

are passionate about user's experience and approach design from the user's perspective
are capable to lead creative efforts by providing design direction using collaborative, agile and iterative working methodologies
understand the value of design and branding in achieving business objectives
speak fluently French and English
understand what an ERP is and what Open source is
are ready to work in a young, fun and dynamic company
are able to work in “start up” fast paced environment, hands on attitude
We absolutely do not care about your diploma or resume... but send us (jobs@openerp.com) relevant informations like

example of designs you made in the past
what do you think about our website http://openerp.com ?
what are the blogs you often read ?
what are your favourites design or usability artists ?
what are your favourites applications in terms of usability ?
usability tips to improve the user experience of our application: http://demo.openerp.com
We are interested in anything that can help us understanding your achievements, your ideas and your competencies.

 

What do we offer you ?

We offer you a great work ambiance with a lot of opportunities to be creative and to grow + an attractive package.

Do not hesitate: email us to jobs@openerp.com !

 

Traineeship (Professional Services)
 

With a small team of smart people, who like working hard and having fun too, we released the most disruptive enterprise management software in the world: OpenERP is fully open source, full featured (Accounting, HR, CRM, Manufacturing, etc.) and its online offer is 3 times cheaper than traditional competitors like SAP and Microsoft.

You think it's just marketing ? Just check by yourself the demo on our Website (www.openerp.com) and discover what people say about OpenERP on Twitter. We offer you an extraordinary chance to learn, develop and be a part of a very exciting experience and team in a growing Belgian born company.

OpenERP is looking for motivated and results-driven trainees!

We have 3 different missions to propose, either on their own, either mixed:

•    You participate to the update of our tutorial tools and pre-sales tools after the launch of a new version of OpenERP. Indeed, any new version of the software brings significant improvements in terms of functionalities, ergonomics and configuration.

•    You will have to become familiar with the existing tools (books, class supports, OpenERP presentation’s slides, commercial tools),

•    to participate to the update of those tools in order to make them appropriate for the new version of the software and, for sure,

•    to suggest improvements in order to cover the new domains of the software.

•    You join the Implementation Assistance department. This team of 3 people go with OpenERP’s clients in the set up of the software. Your role will be

•    to animate webinars in order to show the different functionalities of the software.

•    to be involved in the support of the customers and

•    to answer to their questions.

•    You help the support manager to set up new support services by

•    being involved in the treatment of new cases,

•    contributing to the set up of a new politic,

•    being involved into satisfaction surveys in order to have a better knowledge of how the support given is seen by the customers.

You will be in touch with our partners and customers on a global level.

Traineeship is based in Grand-Rosière, between Louvain-La-Neuve and Namur, Belgium.

You will need the following skills:

•    You speak fluently English and French (one other European language is a +)

•    At the time of your traineeship at OpenERP, you will be in the last year of a Master or Bachelor Degree (ideally in the following sector: Business Management, IT Management, Computer Sciences)

•    You have a software and new technology awareness

•    You are ready to join a young and dynamic company, you are able to work in a “start up” fast paced environment, hands on attitude

•    You are approachable, honest and a fun team player

•    If you have development competencies, we can propose you specific traineeships

What do we offer you ?

We offer you a very interesting traineeship in a great atmosphere with a lot of opportunities to learn (for ex: you start with a 1-week functional training), to develop, to be autonomous, to take initiatives and... some opportunities to have fun with your colleagues (ex: drink and barbecues).

Please make a note that the trainees are not paid at OpenERP but we offer you your lunches!

If you are interested and if you think you could meet the requirements, please send your resume and application letter to jobs@openerp.com.

 

Functional Consultant
With a small team of smart people, who like working hard and have fun too, we released the most disruptive enterprise management software in the world: OpenERP is fully open source, full featured (Accounting, HR, CRM, Manufacturing, etc.) and its online offer is 3 times cheaper than traditional competitors like SAP and Microsoft.

You think it's just marketing ? Just check by yourself and discover what people say about OpenERP on Twitter.

We can offer you an extraordinary chance to learn, to develop and to be part of a very exciting experience and team. 
 

OpenERP is looking for a motivated and results-driven Functional Consultant !
 

You will be responsible to:

take part in the consulting services we provide to our partners and customers, on the functional side
analyse customer needs, write specification documents and quotation
quantify and negotiate the resources required
follow and check the development part (functional tests and presentation to the customer for validation)
help with the configuration of the software, with the go-live and give end-users (online) training sessions (sometimes abroad)

[in our own training room] deliver generic OpenERP functional training sessions (approximatively one week every 2 months) to train end-users or functional employees coming from our customers and partners (10-15 people/session)

You will report to the Head of Professional Services and work closely with all Developers and Account. Job is based in Grand-Rosière(1367), Belgium.

 

You will need the following skills:

[Must have] You have a Master degree in Business Management, IT Management or Computer Sciences
[Must have] You have 2 or 3 years of experience
[Must have] You speak fluently French and English and you have good writing skills in those languages
[Must have] You are an excellent communicator and negotiator
[Must have] You have an affinity with the IT world, you understand what an ERP is and what Open source is
[Nice to have] You have a good knowledge in accounting
[Nice to have] You are available immediately
You are ready to work in a young and dynamic company
You are a quick and autonomous learner
You are able to work in “start up” fast paced environment, hands on attitude
You are approachable, honest and fun team player
You are ready to travel (approximately 25% of your time, in Europe)
 

What do we offer you ?

You will be integrated into a great work ambiance, in a rich function, with a lot of opportunities to grow. Situated in the countryside between Louvain-la-Neuve and Namur, our offices provide a pleasant and friendly working environment for you to flourish in. And, last but not least, we offer you an attractive salary package!
 

If you are interested and if you think you could meet the requirements, please send your resume and application letter (in which you explain why you think you are good for the job) to jobs@openerp.com (Cécile Debois).

 

Web Designer & Usability Expert (Recruitment Reserve)
With a small team of smart people, we released the most disruptive enterprise management software in the world: OpenERP is fully open source, full featured (Accounting, HR, CRM, Manufacturing, etc.) and its online offer is 3 times cheaper than traditional competitors like SAP and Microsoft. You think it's just marketing ? Just check by yourself and discover what people say about OpenERP on Twitter.

We can offer you an extraordinary chance to learn, to develop and to be part of a very exciting experience and team. (Part of our team in Belgium and India)

OpenERP is looking for a Web Designer & Usability Expert !

Your challenge will be
•    to design clean and intuitive user interfaces
•    to improve users experience
•    to revolutionize our ERP and, if you are able to do it, transform the ERP market, which is totally a “gas works” market, into a toy market
•    to inspire project teams by providing a clear vision for the user experience, supported by data analysis, audience research, market research, prototyping and design exploration

You will report to the R&D Manager and work closely with all developers. Job is based in Grand-Rosière (1367), Belgium.
You
•    are passionate about user's experience and approach design from the user's perspective
•    are capable to lead creative efforts by providing design direction using collaborative, agile and iterative working methodologies 
•    understand the value of design and branding in achieving business objectives 
•    speak fluently French and English 
•    understand what an ERP is and what Open source is
•    are ready to work in a young, fun and dynamic company
•    are able to work in “start up” fast paced environment, hands on attitude

We absolutely do not care about your diploma or resume... but send us (jobs@openerp.com) relevant informations like
•    example of designs you made in the past
•    what do you think about our website http://openerp.com ?
•    what are the blogs you often read ?
•    what are your favourites design or usability artists ?
•    what are your favourites applications in terms of usability ?
•    usability tips to improve the user experience of our application: http://demo.openerp.com
We are interested in anything that can help us understanding your achievements, your ideas and your competencies.

What do we offer you ?
We offer you a great work ambiance with a lot of opportunities to be creative and to grow + an attractive package.

Do not hesitate: email us to jobs@openerp.com !
