!!!
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title OpenERP
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700',rel='stylesheet',type='text/css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    div.topheader
      div.container
        div.navbar.clearfix
          a.brand(href="/")
            img(src="/img/logo.png")
          div.pull-right
            ul.nav.clearfix
              li.dropdown
                a.dropdown-toggle(href="", data-toggle="dropdown")
                  img.avatar(src="/img/lucmaurer.jpg")
                  | Luc Maurer
                  b.caret
                ul.dropdown-menu.pull-right
                  li
                    a(href="/orders") My Orders
                  li
                    a(href="") Settings
                  li
                    a(href="") Logout
              li.dropdown
                a.dropdown-toggle(href="")
                  span.i &#59197;
                  | 0
                  b.caret
                ul.dropdown-menu
                  li
              li
                a(href="")
                  span.i &#128222;
                  | +32 2 290 34 90
              li
                a(href="mailto:info@openerp.com")
                  span.i &#9993;
                  | info@openerp.com
            ul.nav
              li
                a(href="") About Us
              li
                a(href="/shop") Shop
              li
                a(href="/shop") Blog
              li
                a(href="") Ressources
              li
                a(href="") Pricing
              li
                a.active(href="/") Home

    block body

    div.footer
      div.container
        div.row
          ul.span2
            li
              h4 OpenERP
            li
              a(href="/tour") Tour
            li
              a(href="/pricing") Pricing
            li
              a(href="") Partnership
            li
              a(href="") Download
            li
              a(href="") Support
          ul.span2
            li
              h4 Ressources
            li
              a(href="") Documentation
            li
              a(href="") Trainings
            li
              a(href="") Books
            li
              a(href="") Apps
          ul.span2
            li
              h4 Community
            li
              a(href="/events") Events
            li
              a(href="") Forum
            li
              span.i &#62222;
              a(href="http://www.facebook.com/openerp") Facebook
            li
              span.i &#62217;
              a(href="https://twitter.com/openerp") Twitter
          ul.span2
            li
              h4 About Us
            li
              a(href="/news") News
            li
              a(href="/jobs") Jobs
            li
              a(href="/jobs") Investor Relations
            li
              a(href="/team") Our Team
            li
              a(href="/jobs") Contact Us
          ul.tweets.span2
            li
              h4 Latest Tweets
            li
              a(href="/") #OpenERP
              | Tour - Présentation officielle de notre nouvelle version: OpenERP 7 à Paris le 21 fév.
            li 
              | Brand new 
              a(href="") #OpenERP
              | forum 
              a(href="http://bit.ly/TDQIIW  ") http://bit.ly/TDQIIW 
              | Discover it and start contributing!
            li
              | Article de 24 pages consacrées à
              a(href="#") #OpenERP
              | dans le dernier Linux Pratique hors série!

          ul.span2
            li
              h4 Offices
            li
              b Europe/Africa Sales
            li Avenue Van Nieuwenhuyselaan, 5 (Serenitas Building)
            li 1160 Brussels, Belgium
            li
              span.i &#128222;
              | +32 2 290 34 90
            li
              b Services &amp; R&amp;D
            li Chaussée de Namur, 40
            li 1367 Grand-Rosière, Belgium
            li
              span.i &#128222;
              | +32 81 81 37 00
            li
              b Americas Sales
            li 260 Main Street, Suite 203
            li Redwood City, CA 94063, United States
            li
              span.i &#128222;
              | +1 (650) 307-6736
            li
              b Asia Pacific Sales, Services, R&amp;D
            li 16 / 17, IT Tower 1
            li Infocity Gate - 1
            li Gandhinagar - 382007, Gujarat, India
            li
              span.i &#128222;
              | +91 (79) 40 500 100

    script(type='text/javascript', src='/js/jquery-1.7.1.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/client.js')
