!!!
html
  head
    meta(charset="utf-8")
    title OpenERP
    link(rel='stylesheet', href='/css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700|Metrophobic',rel='stylesheet',type='text/css')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700',rel='stylesheet',type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700',rel='stylesheet',type='text/css')
  body
    div.body
      div.topheader.clearfix
        h1
          a(href="/") OpenERP
        span.tagline.left Open Source Business Applications
        ul.right
          li
            span.i &#9993;
            a(href="mailto:info@openerp.com") info@openerp.com
          li
            span.i &#128222;
            | +32 2 290 34 90

      div.nav
        ul.clearfix
          li
            a.active(href="/") Home
          li
            a(href="") Pricing
          li
            a(href="") Ressources
          li
            a(href="") Store
          li
            a(href="") Contact Us


      block body

    div.footer
      div.body
        ul.clearfix
          li
            h4 OpenERP
          li
            a(href="/tour") Tour
          li
            a(href="/pricing") Pricing
          li
            a(href="") Partnership
          li
            a(href="") Download
          li
            a(href="") Support
        ul.clearfix
          li
            h4 Ressources
          li
            a(href="") Documentation
          li
            a(href="") Trainings
          li
            a(href="") Books
          li
            a(href="") Apps
        ul.clearfix
          li
            h4 Community
          li
            a(href="/events") Events
          li
            a(href="") Forum
          li
            a(href="http://www.facebook.com/openerp") Facebook
          li
            a(href="https://twitter.com/openerp") Twitter
        ul.clearfix
          li
            h4 About Us
          li
            a(href="/news") News
          li
            a(href="/jobs") Jobs
          li
            a(href="/jobs") Investor Relations
          li
            a(href="/jobs") Contact Us


    script(type='text/javascript', src='/js/jquery-1.7.1.min.js')
    //script(type='text/javascript', src='/js/client.js')
