extends layout

block body
  div.container.clearfix
    div.row
      div.span2
        ul.nav.nav-list
          li
            a.active(href="") All (127)
          li.nav-header Status
          li
            a(href="") Draft (47)
          li
            a(href="") To invoice (7)
          li
            a(href="") Done (73)
          li.nav-header Amount
          li
            a(href="") > 50000 &euro; (6)
          li
            a(href="") 10000 - 50000 &euro; (49)
          li
            a(href="") 1000 - 9999 &euro; (52)
          li
            a(href="") < 1000 &euro; (20)
          li.nav-header Custom Filters
          li
            a(href="") Saleman: Ruben (19)
          li
            a(href="") Client: McKinsey (3)
      div.span10
        div.clearfix
          h1.pull-left Sale Orders
          div.navbar-search.pull-right
            span.i.search-icon &#128269;
            input.search-query(type="search", placeholder="Search...") 
            span.oe_e.searchclear
        div.clearfix
          ul.actionbar.horizontal.pull-left
            li
              button Create
            li or
            li
              a(href="#") Import
          ul.nav.button-group.pull-right
            li.active
              a(href="/")
                span.i &#9776;
            li
              a(href="/")
                span.i &#57349;
            li
              a(href="/")
                span.i &#9871;
            li
              a(href="/")
                span.i &#128197;
            li
              a(href="/")
                span.i &#128200;
            li
              a(href="/")
                span.i &#59171;

        table.listview.table.table-striped.table-hover
          thead
            tr
              th
                input(type="checkbox")
              th Id
              th Customer
              th
                | Date
                b.caret
              th Saleman
              th Status
              th Amount

          tbody
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
            tr
              td
                input(type="checkbox")
              td SO001
              td Agrolait
              td 15/01/2012
              td Fabien Pinckaers
              td Quotation
              td.number 6114.70 &euro;
          tfoot
            tr
              td
              td
              td
              td
              td
              td
              td.number 12225.40 &euro;
